.badge {
  line-height: 24px; /* 150% */
  padding: 4px 8px;
  border-radius: 4px;
  text-decoration: none;

  &--badge-hit {
    color: #F8FDFE;
    background-color: #4200FF;
  }

  &--badge-new {
    color: #F8FDFE;
    background-color: #AF39E7;
  }

  &--badge-discount {
    color: #F8FDFE;
    background-color: #EA33C0;
  }
}
