.button {
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  text-align: center;
  line-height: 24px; /* 150% */
  cursor: pointer;

  &--button-add {
    color: #F8FDFE;
    background-color: #4C394E;

    &:hover {
        background-color: #744978;
    }
  }

  &--button-end {
    color: #F8FDFE;
    background-color: #4D762D;

    &:hover {
      background-color: #6DB236;
    }
  }
}
