.cart {
  display: flex;
  align-items: center;
}

.cart__total-price {
  color: #F8FDFE;
  line-height: 24px; /* 150% */
  margin-right: 8px;
}

.cart__total-amount {
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  padding: 0;
  background-image: url("../../images/cart.svg");
  color: #000;
  font-size: 12px;
  line-height: 10px; /* 83.333% */
  position: relative;
  cursor: pointer;
}

.cart__amount-number {
  position: absolute;
  left: 16px;
  bottom: 21px;
}

