.chat {
  position: fixed;
  right: 28px;
  bottom: 28px;

  padding: 0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 64px;
  height: 64px;

  background-color: $chat-bg-color;
  background-image: url("../../images/chat_icon.svg");
  background-size: 50px 50px;
  background-position: center;

  transition-property: transform;
  transition-duration: 0.3s;

  &:hover {
    transform: rotate(12.05deg);
  }
}
