.product-card {
  position: relative;
  display: block;
  max-width: 306px;
  padding: 31px;
  text-decoration: none;
  background-color: $card-bg-color;
  border: 1px solid #8E8E8E;
}

.product-card__image {
  display: block;
  width: 178px;
  height: 280px;
  margin-left: auto;
  margin-right: auto;
}

.product-card__title {
  @include overflow-ellipsis();
  margin-top: 16px;
  margin-bottom: 0;
  color: #1F1F1F;
  font-size: 20px;
  font-weight: 700;
  line-height: 31px; /* 140% */
  border-bottom: 1px solid #A8A8A8;
}

.product-card__author {
  margin-top: 0;
  margin-bottom: 0;
  display: block;
  color: #8E8E8E;
  line-height: 24px; /* 150% */
}

.product-card__price {
  position: relative;
  margin-top: 8px;
  margin-bottom: 16px;
  display: block;
  color: #E90000;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px; /* 133.333% */

  &--old-price {
    position: absolute;
    left: 129px;
    top: 366px;
    color: #8E8E8E;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
    text-decoration: line-through;
  }
}

.product-card__button {
  width: 100%;
}


.product-card__badge-container {
  position: absolute;
  left: 32px;
  top: 34px;
}