.product-page__header {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.header-top {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: $header-top-bg-color;
}

.header-bottom {
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: $header-bottom-bg-color;
}

.header-bottom__text {
  margin-top: 0;
  margin-bottom: 0;
}

.header-menu {
  @include list-reset();
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.header-menu__link {
  text-decoration: none;
  color: #000;
  line-height: 24px; /* 150% */
}
