.wrapper {
  width: 1296px;
  margin-left: auto;
  margin-right: auto;
}

.header-top__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-bottom__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__wrapper {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
}