@mixin list-reset (
  $padding-left: 0,
  $margin-top: 0,
  $margin-bottom: 0,
  $list-style: none
) {
  padding-left: $padding-left;
  margin-top: $margin-top;
  margin-bottom: $margin-bottom;
  list-style: $list-style;
}

@mixin overflow-ellipsis (
  $overflow: hidden,
  $white-space: nowrap,
  $text-overflow: ellipsis
) {
  overflow: $overflow;
  white-space: $white-space;
  text-overflow: $text-overflow;
}